.navigationImage {
  width: 9rem;
  height: 9rem;
  display: block;
  margin: auto;
  transition: transform 0.2s;
}

.navigationImage:hover {
  transform: scale(1.1);
}

.navigationLocation {
  padding: 1em;
}
