.homepage-background {
  background-color: #fef3e1;
  min-height: calc(100vh - 48px);
}

.content {
  font-variation-settings: 'MONO' 1, 'CASL' 0, 'wght' 200, 'slnt' 0, 'CRSV' 0.5;
}

.profile-image {
  width: 100%;
  max-width: 350px;
}

.portfolio-item {
  max-width: 550px;
}
